body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.flex-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width-experience-iteam{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
    box-shadow: 10px 10px 40px gray;
    border-left: black solid;
    border-radius: 10px;
}
.half-width img{
    width: 80%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}
.middle-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.top-section{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
   
}
.bottom-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-dev-experiene{
border-left: 7px solid;
border-image: linear-gradient(blue , cyan);
border-image-slice: 1;
}
#baby-dev-experiene{
    border-left: 7px solid;
    border-image: linear-gradient(green , yellow);
    border-image-slice: 1;
}
